<header>
    <div class="header-right">
        <button class="settings-btn">
            <i class="fa-solid fa-gear"></i>
        </button>

        <div class="divider"></div>

        <div class="avatar">
            <img src="~/images/avatar.svg" alt="Avatar" />
        </div>
    </div>
</header>
