@model List<Data.Entities.Project>

@{
	ViewData["Title"] = "Projects";
	var filter = Context.Request.Query["filter"].ToString().ToLower();
	var totalCount = Model.Count;
	var startedCount = Model.Count(p => p.Status.ToLower() == "started");
	var completedCount = Model.Count(p => p.Status.ToLower() == "completed");

}

<section id="projects">
	<header>
		<h2>@ViewData["Title"]</h2>
		<button class="btn btn-blue btn-add" type="button">Add Projects</button>
	</header>

	<div class="project-filters">
		<a href="?filter=all" class="filter @(filter == "all" || string.IsNullOrEmpty(filter) ? "active" : "")">
			ALL [@totalCount]
		</a>
		<a href="?filter=started" class="filter @(filter == "started" ? "active" : "")">
			STARTED [@startedCount]
		</a>
		<a href="?filter=completed" class="filter @(filter == "completed" ? "active" : "")">
			COMPLETED [@completedCount]
		</a>
	</div>


	<div class="content">
		<div class="project-list">
			@foreach (var project in Model)
			{
				if (filter == "all" || string.IsNullOrEmpty(filter) || project.Status.ToLower() == filter)
				{
					<partial name="Partials/Components/_ProjectCard" model="project" />
				}
			}
		
		</div>
	</div>
	<partial name="Partials/Components/_AddProjectModal" />
</section>