@model Data.Entities.Project

<div class="project card" data-project-id="@Model.ProjectName">
    <div class="card-header">
        <div class="project-image">
            <img src="~/images/project-icon.svg" alt="Project Icon" />
        </div>

        <div class="project-name">@Model.ProjectName</div>
        <span class="client-name">@Model.ClientName</span>

        <div class="project-actions-container">
            <button type="button" class="btn-action" data-type="dropdown" data-target="#project-dropdown-@Model.ProjectName.Replace(" ", "-").ToLower()">
                <i class="fa-solid fa-ellipsis"></i>
            </button>

            <div id="project-dropdown-@Model.ProjectName.Replace(" ", "-").ToLower()" class="dropdown">
                <div class="dropdown-body">
                    <nav class="dropdown-actions">
                        <a class="dropdown-action" href="#">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <span>Edit</span>
                        </a>
                        <div class="divider"></div>
                        <a class="dropdown-action remove" href="#">
                            <i class="fa-regular fa-trash-can"></i>
                            <span>Delete Project</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <p>@Model.Description</p>
    </div>
</div>

